<div style="display: flex">
  <div class="flex-1"></div>
  <div class="modal-title c-male"> Crear iniciativa </div>
    <div class="flex-1"></div>

    <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
      <mat-icon>close</mat-icon>
    </button>
</div>


<form class="row g-3" [formGroup]="iniciativaForm">
  <div class="cli-form newvac-wrapper">
    <!-- -------------------------------------------REGISTROS------------------------------------------>
    <div class="pr-subtitle mt-2">Registros</div>
    <div class="pr-section">
      <div class="pr-module-container">
        <div class="row g-3">
          <ng-container>
            <div class="col-sm-3 cli-form-element">
              <div class="form-group">
                <label>Nombre de Iniciativa</label>
                <input
                  type="text"
                  class="form-control cli-input-white"
                  placeholder="Ej. RPA-PER-CAPL"
                  formControlName="nombre"/>
                <small class="form-text text-alert" *ngIf="campoNoValido('nombre')">* Este campo es obligatorio</small>
              </div>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>Código de Iniciativa</label>
              <input
                type="text"
                class="form-control cli-input-white"
                formControlName="codigo"/>
                <small class="form-text text-alert" *ngIf="campoNoValido('codigo')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>PO del proyecto</label>
              <input
                type="text"
                class="form-control cli-input-white"
                formControlName="poProyecto"/>
                <small class="form-text text-alert" *ngIf="campoNoValido('poProyecto')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>VP</label>
              <select class="cli-input-white" formControlName="vp">
                <option [value]="0" disabled>-Seleccionar-</option>
                <option [value]="vp.id" *ngFor="let vp of listVP">{{ vp.nombre }}</option>
              </select>
              <small class="form-text text-alert" *ngIf="campoNoValido('vp')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>Gerencia Solicitante</label>
              <select class="cli-input-white"
                      formControlName="gerenciaSol">
                <option [value]="0" disabled>-Seleccionar-</option>
                <option [value]="gerenc.id" *ngFor="let gerenc of listGerencia">{{ gerenc.nombre }}</option>
              </select>
              <small class="form-text text-alert" *ngIf="campoNoValido('gerenciaSol')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>Gerencia Beneficiaria</label>
              <select class="cli-input-white"
                      formControlName="gerenciaBen">
                <option [value]="0" disabled>-Seleccionar-</option>
                <option [value]="gerenc.id" *ngFor="let gerenc of listGerencia">{{ gerenc.nombre }}</option>
              </select>
              <small class="form-text text-alert" *ngIf="campoNoValido('gerenciaBen')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>Controll. Gerenc. Benef.</label>
              <input
                type="text"
                class="form-control cli-input-white"
                formControlName="contGerBen"/>
                <small class="form-text text-alert" *ngIf="campoNoValido('contGerBen')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>Controller Aprob. BC</label>
              <input
                type="text"
                class="form-control cli-input-white"  formControlName="contAprBc"/>
                <small class="form-text text-alert" *ngIf="campoNoValido('contAprBc')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>PLANNER</label>
              <input
                type="text"
                class="form-control cli-input-white"
                formControlName="planner"/>
                <small class="form-text text-alert" *ngIf="campoNoValido('planner')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>Licencias BP</label>
              <input
                type="number"
                min="0"
                class="form-control cli-input-white"
                formControlName="licencias"/>
                <small class="form-text text-alert" *ngIf="campoNoValido('licencias')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label>Naturaleza del Beneficio</label>
              <select class="cli-input-white" formControlName="naturaleza">
                <option [value]="0" disabled>-Seleccionar-</option>
                <option [value]="nat.id" *ngFor="let nat of naturaleza">{{ nat.nombre }}</option>
              </select>
              <small class="form-text text-alert" *ngIf="campoNoValido('naturaleza')">* Este campo es obligatorio</small>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------CONTEXTO ----------------------------------------->
    <div class="pr-subtitle mt-2">Contexto</div>
    <div class="pr-section">
      <div class="pr-module-container">
        <div class="row g-3">
          <div class="col-sm-3 cli-form-element">
            <label>QTRX mensual</label>
            <input
              type="number"
              min="0"
              class="form-control cli-input-white"
              formControlName="qtrxMes"/>
              <small class="form-text text-alert" *ngIf="campoNoValido('qtrxMes')">* Este campo es obligatorio</small>
          </div>

          <div class="form-group col-sm-3 cli-tmoTrx">
            <label>TMO POR TRX</label>
            <div class="row" style="padding: 0px">
              <div class="col-sm-5 cli-form-element" style="padding: 2px 5px;">
              <input
                style="text-align: center;"
                type="number"
                min="0"
                class="form-control cli-input-white"
                formControlName="tmoTrx"/>
              </div>

              <div class="col-sm-7 cli-form-element" style="padding: 2px 5px; margin-left: -8px;">
                  <select class="cli-input-white" style="margin-left: 2px"
                          formControlName="unidadTrx">
                    <option value="Minutos">Minutos</option>
                    <option value="Horas"  >Horas</option>
                  </select>
              </div>
            </div>
            <small class="form-text text-alert" *ngIf="campoNoValido('tmoTrx')">* Este campo es obligatorio</small>
          </div>

          <div class="form-group col-sm-3">
            <legend class="col-form-label col-sm-12 pt-0">Pedido por PI</legend>
            <div class="row" style="margin-left: 0px">
              <div class="form-check col-sm-6">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gridRadios3"
                  [value]="1"
                  formControlName="pi"/>
                <label class="form-check-label" for="gridRadios3">Si</label>
              </div>

              <div class="form-check col-sm-6">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gridRadios4"
                  [value]="0"
                  formControlName="pi"/>
                <label class="form-check-label" for="gridRadios4">No</label>
              </div>
              <small class="form-text text-alert" *ngIf="campoNoValido('pi')">* Este campo es obligatorio</small>
            </div>
          </div>

          <div class="form-group col-sm-3">
            <legend class="col-form-label col-sm-12 pt-0">
              Cuenta con flujo contextual
            </legend>
            <div class="row" style="margin-left: 0px">
              <div class="form-check col-sm-6">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gridRadios3"
                  [value]="1"
                  formControlName="fluContx"/>
                <label class="form-check-label" for="gridRadios3">Si</label>
              </div>

              <div class="form-check col-sm-6">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gridRadios4"
                  [value]="0"
                  formControlName="fluContx"/>
                <label class="form-check-label" for="gridRadios4">No</label>
              </div>
              <small class="form-text text-alert" *ngIf="campoNoValido('fluContx')">* Este campo es obligatorio</small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------DIAGNOSTICO -------------------------------------->
    <div class="pr-subtitle mt-2">Diagnóstico</div>
    <div class="pr-section">
      <div class="pr-module-container">
        <div class="row was-validated g-3">
          <div class="row mt-2">
            <div class="col-sm-6 cli-form-element mb-2">
              <label>Contexto</label>
              <textarea
                class="form-control"
                style="background-image: none; border-color: #a5a4a4; font-size: 14px;"
                rows="2"
                placeholder="Detalle el contexto y la problemática actual..."
                formControlName="probActual">
              </textarea>
              <small class="form-text text-alert" *ngIf="campoNoValido('probActual')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-6 cli-form-element mb-2">
              <label>Función Robotización</label>
              <textarea
                class="form-control"
                style="background-image: none; border-color: #a5a4a4; font-size: 14px;"
                rows="2"
                placeholder="Defina la problemática de la función .."
                formControlName="funcRobotiz"
              ></textarea>
              <small class="form-text text-alert" *ngIf="campoNoValido('funcRobotiz')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-6 cli-form-element mb-2">
              <label>Objetivo</label>
              <textarea
                class="form-control"
                style="background-image: none; border-color: #a5a4a4; font-size: 14px;"
                rows="2"
                placeholder="Defina los objetivos y alcances del RPA"
                formControlName="defAlcance"
              ></textarea>
              <small class="form-text text-alert" *ngIf="campoNoValido('defAlcance')">* Este campo es obligatorio</small>
            </div>

            <div class="col-sm-6 cli-form-element mb-2">
              <label>Riesgos</label>
              <textarea
                class="form-control"
                style="background-image: none; border-color: #a5a4a4; font-size: 14px;"
                rows="2"
                placeholder="Describa los riesgos de no realizar el RPA"
                formControlName="riesgoNoRpa"
              ></textarea>
              <small class="form-text text-alert" *ngIf="campoNoValido('riesgoNoRpa')">* Este campo es obligatorio</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- --------------------------------------------BOTONES ------------------------------------------>
    <div class="cli-form-buttons" style="margin-top: 3%">
      <button class="cli-btn btn-m btn-grey" type="submit" (click)="close()">
        <mat-icon class="icon-18">cancel</mat-icon> Cancelar
      </button>
      <button class="cli-btn btn-m btn-blue"
              (click)="crearIniciativa()"
              [disabled]="iniciativaForm.invalid"
              >
              <mat-icon class="icon-18">save</mat-icon> Registrar
      </button>
    </div>
  </div>
</form>
