<div class="cli-card fit-card">
  <div class="cli-card-body">
    <div class="modal-title c-male">Mantenimiento iniciativa</div>
    <div>
      <!-- BUSCADOR POR FILTRO -->
      <div class="card" style="border-radius: 2px; font-weight: 600">
        <div class="card-body" style="padding: 10px">
          <form class="row g-3" [formGroup]="filtroForm">
            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Nombre de Iniciativa</label>
              <input
                type="text"
                class="form-control"
                formControlName="nombre"/>
            </div>
            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Código de Iniciativa</label>
              <input
                type="text"
                class="form-control"
                formControlName="codigo"/>
            </div>
            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Estado</label>
              <select class="form-select" formControlName="estado">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="estado.idEstado" *ngFor="let estado of listEstados">{{ estado.cNombre }}</option>
              </select>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Gerencia Beneficiaria</label>
              <select class="form-select" formControlName="gerencia_benef">
                <option [value]="0" disabled>-Seleccione-</option>
                <option [value]="gerenc.id" *ngFor="let gerenc of listGerencia">{{ gerenc.nombre }}</option>
              </select>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Naturaleza del Benef.</label>
              <select class="form-select" formControlName="naturaleza">
                <option [value]="0" disabled>--Seleccione--</option>
                <option [value]="nat.id" *ngFor="let nat of naturaleza">{{ nat.nombre }}</option>
              </select>
            </div>

            <div class="col-sm-3 cli-form-element">
              <label class="form-label">Fecha de registro Iniciativas</label>

              <mat-form-field color="accent" appearance="outline">
                <mat-date-range-input [rangePicker]="picker">
                  <input matStartDate formControlName="fechaCreaInicio"  placeholder="Desde"   >
                  <input matEndDate   formControlName="fechaCreaFin"     placeholder="Hasta" >
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
              </mat-form-field>
            </div>

            <div class="col-sm-3 cli-form-element" style="margin-top: 45px">
              <div class="form-group">
                <div class="form-check form-check-inline">
                  <input class="form-check-input"
                         type="checkbox"
                         id="inlineCheckbox1"
                         formControlName="listarSoloActivos">
                  <label class="form-check-label" for="inlineCheckbox1">Iniciativas activas</label>
                </div>
              </div>
            </div>

            <div class="flex-1"></div>

            <div class="cli-form-buttons" style="margin-top: 2px">
              <button
                type="submit"
                class="cli-btn btn-m btn-cancel"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="limpiarFiltro()"><mat-icon class="icon-18">rotate_left</mat-icon>
                Limpiar
              </button>

              <button
                type="button"
                class="cli-btn btn-blue-light"
                style="border-radius: 2px; padding: 0.225rem 0.75rem"
                (click)="buscarOcargarIniciativa()"><mat-icon class="icon-18">search</mat-icon>
                Buscar
              </button>
            </div>
          </form>
        </div>
      </div>

      <!-- BOTON MODAL PARA CREAR iniciciativa -->
      <div style="display: flex" class="mt-4 mb-1">
        <button
          class="cli-btn btn-blue"
          style="margin: 0"
          type="button"
          (click)="crearIniciativa()"
        ><mat-icon class="icon-18">add</mat-icon>Crear Iniciativa
        </button>

        <div class="cli-table-actions">
          <button
            matTooltip="Descargar iniciciativa"
            class="icon-btn btn-trans c-green-light mx-1"
            (click)="exportarIniciativa()"
          ><mat-icon class="icon-18">file_download</mat-icon>Exportar
          </button>
        </div>

        <div class="flex-1"></div>
        <div class="mt-2" style="color: #345df3; font-weight: 600;">
          Total : <span class="total">{{ iniciativas.length }} Registros</span>
        </div>
      </div>

      <!-- TABLA DE REGISTROS -->
      <div style="overflow: auto; min-height: 300px">
        <table class="cli-table stripedtable underlinedtable">
          <thead>
            <tr class="bgc-turquey c-white">
              <th>Acción</th>
              <th>ID</th>
              <th>Nombre de Iniciativa</th>
              <th>Código de Iniciativa</th>
              <th>Estado</th>
              <th>PO del Proyecto</th>
              <th>Responsable</th>
              <th>Gerencia Beneficiaria</th>
              <th>Naturaleza</th>
              <th>Creado por</th>
              <th>Fecha creación</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let iniciciativa of iniciativas | paginate:
                      {
                        itemsPerPage: pageSize,
                        currentPage: page,
                        totalItems: totalIniciativa
                      } ">
              <td>
                <div class="cli-table-actions">
                  <button
                    matTooltip="Editar"
                    class="icon-btn btn-trans c-blue"
                    (click)="editarIniciativa(iniciciativa.idIniciativa)"
                  ><mat-icon class="icon-13">edit</mat-icon>
                  </button>
                  <button
                    matTooltip="Eliminar"
                    class="icon-btn btn-trans c-fucsia"
                    (click)="eliminarIniciativa(iniciciativa.idIniciativa)"
                    ><mat-icon class="icon-13">delete_forever</mat-icon>
                  </button>
                </div>
              </td>
              <td>{{ iniciciativa.idIniciativa }}</td>
              <td class="w155">{{ iniciciativa.nombre | uppercase }}</td>
              <td class="w135">{{ iniciciativa.codigo | uppercase }}</td>
              <td style="text-align:left">{{ iniciciativa.estado }}</td>
              <td class="w135">{{ iniciciativa.po_proyecto | firstCapital }}</td>
              <td style="text-align: left">{{ iniciciativa.responsable }}</td>
              <td class="w155">{{ iniciciativa.gerencia_beneficiaria }}</td>
              <td class="w135">{{ iniciciativa.naturaleza }}</td>
              <!-- <td>
                <span class="rol_name" >{{iniciciativa.userCrea}}</span>
              </td> -->

              <td style="text-align:left ">
                <div class="cli-table-user">
                  <button
                    matTooltip={{iniciciativa.userCrea}}
                    class="icon-btn btn-trans"
                    style="color: #4ba8fa;"
                    ><mat-icon class="icon-16">person</mat-icon>
                  </button>{{iniciciativa.userCrea}}
                </div>
              </td>
              <!-- <td>
                <span *ngIf="iniciciativa.rol == 'Usuario'" class="rol_name rol_danger">{{iniciciativa.userName}}</span>
                <span *ngIf="iniciciativa.rol == 'Gestor'" class="rol_name rol_info" >{{iniciciativa.userName}}</span>
              </td> -->

              <td style="min-width: 100px">{{ iniciciativa.fecha_creacion }}</td>
            </tr>
          </tbody>
        </table>

        <div class="cli-loader" *ngIf="loadingItem">
          <mat-spinner style="margin-right: 20px" diameter="20"></mat-spinner>
          cargando...
        </div>

        <div
          *ngIf="!loadingItem && iniciativas.length == 0"
          class="cli-loader mt-5"
          style="color: #f83434"
        >No hay iniciativas para mostrar
        </div>
      </div>
    </div>

    <div class="card-footer pb-0 pt-3">
      <pagination-controls
        previousLabel="Anterior"
        nextLabel="Siguiente"
        [responsive]="false"
        (pageChange)="cambiarPagina($event)">
      </pagination-controls>
    </div>
  </div>
</div>
