@import "variables.scss";

.modal-title {
  font-size: 1.7rem;
  font-weight: 400;
  // color: #00bec0;
  color: $color-blue;
  margin: 4px 0;
  text-align: center;
}

.newvac-wrapper {
  border-radius: 3px;
  max-width: 98%;
  margin: 5px auto;
  padding: 5px;
}

// ESTILOS MODAL LINEA IZQ
.pr-section {
  margin-left: 10px;
  padding-left: 20px;
  padding-top: 4px;
  border-left: 1px solid $color-blue;
}

.pr-subtitle {
  font-size: 0.8rem;
  font-family: "Webapp-Bold";
  color: $color-blue;
}

.pr-module {
  &-container {
    margin: 2px 0;
    padding: 15px;
    border: dashed 1px #d3d4d3;
    border-radius: 2px;
  }
}

.moda-close-btn {
  top: -10px;
  right: -10px;
  z-index: 20;
}

.id-iniciativa {
  font-size: 18px;
  text-align: center;
  font-weight: 400;

  color: #212529;
  // font-weight: 500;
  border: solid 0.5px $color-blue;
  border-radius: 4px;
  background: #f8f9fa;
  padding: 4px;
}

.total {
  font-size: 18px;
  font-weight: 700;
}

.cli-tmoTrx {
  margin: 16px 0px 0px;
  font-size: 12.8px;
  padding: 0 6px;
}

// BARRA LATERAL----------------------------------------------------------------------------------------
.bigcotainer-chart {
  width: 100%;
  display: flex;
  padding: 5px;
  margin-top: 4px;
  border: solid 0.5px $color-blue;
  position: relative;
}
.chart-draw {
  flex: 1 1;
  // overflow: auto;
}

.chart-canvas {
  display: flex;
  margin-bottom: 8px;
}

.chartlayer-legend {
  width: 24px;
  padding: 2px;
  display: flex;

  font-size: 11px;
  &-box {
    // min-height: 155px;
    padding: 10px 0;
    text-align: end;
    width: 100%;
    background-color: $color-blue;
    color: #fff;

    text-transform: uppercase;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    letter-spacing: 1px;
  }
}

@media (max-width: 850px) {
  .modal-title {
    font-size: 1.2rem;
    text-align: center;
  }
  .btn-m {
    height: 20px;
    padding: 15px;
  }

  .pr-module {
    &-container {
      padding: 5px;
    }
  }
}
