<div style="display: flex">
  <div class="flex-1"></div>
  <div class="modal-title">Actualizar iniciativa</div>
  <div class="flex-1"></div>
  <button (click)="close()" class="icon-btn btn-trans c-orange moda-close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<form [formGroup]="iniciativaEditForm">
  <div class="cli-form newvac-wrapper">
   <div class="bigcotainer-chart123">
    <div class="chart-draw">

    <!-- -------------------------------------------REGISTROS ACTUALIZAR------------------------------->
    <div style="display: flex" >
      <div class="col-1 pr-subtitle mt-2">Registros</div>
      <div class="flex-1"></div>
      <div  class="mt-2 id-iniciativa">ID : <span  class="total">{{iniciativa_Id}}</span></div>
    </div>

    <div class="pr-section">
      <div class="pr-module-container">
        <div class="row g-3">
          <div class="col-sm-3 cli-form-element">
            <div class="form-group">
              <label>Nombre de Iniciativa</label>
              <input
                type="text"
                class="form-control cli-input-white"
                formControlName="nombre"/>
            </div>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>Código de Iniciativa</label>
              <input
                readonly="true"
                type="text"
                class="form-control cli-input-white"
                formControlName="codigo"/>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>Estado</label>
              <select
                class="cli-input-white"
                formControlName="estado"
              > <option [value]="0" disabled>-Seleccionar-</option>
                <option [value]="s.idEstado" *ngFor="let s of listEstados">{{ s.cNombre }}</option>
              </select>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>Responsable</label>
              <select
                class="cli-input-white"
                formControlName="responsable"
              > <option [value]="0" disabled>-Seleccionar-</option>
                <option [value]="r.userName" *ngFor="let r of responsables">{{r.nombres + ' ' + r.apellidoPaterno}}</option>
              </select>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>PO del proyecto</label>
            <input
              type="text"
              class="form-control cli-input-white"
              formControlName="poProyecto"/>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>VP</label>
            <select
              class="cli-input-white"
              formControlName="vp"
            > <option [value]="0" disabled>-Seleccionar-</option>
              <option [value]="vp.id" *ngFor="let vp of listVP"> {{ vp.nombre }} </option>
            </select>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>Gerencia Solicitante</label>
            <select
              class="cli-input-white"
              formControlName="gerenciaSol">
              <option [value]="0" disabled>-Seleccionar-</option>
              <option [value]="gerenc.id" *ngFor="let gerenc of listGerencia">{{ gerenc.nombre }}</option>
            </select>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>Gerencia beneficiaria</label>
            <select
              class="cli-input-white"
              formControlName="gerenciaBen"
            ><option  [value]="0" disabled>-Seleccionar-</option>
              <option [value]="gerben.id" *ngFor="let gerben of listGerencia">{{ gerben.nombre }}</option>
            </select>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>Controll. Gerenc. Benef.</label>
            <input
              type="text"
              class="form-control cli-input-white"
              formControlName="contGerBen"/>
          </div>
          <div class="col-sm-3 cli-form-element">
            <label>Controller Aprob. BC</label>
            <input
                type="text"
                class="form-control cli-input-white"
                formControlName="contAprBc"/>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>PLANNER</label>
            <input
              type="text"
              class="form-control cli-input-white"
              formControlName="planner"/>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>Licencias BP</label>
            <input
              min="0"
              type="number"
              class="form-control cli-input-white"
              formControlName="licencias"/>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>Tecnología de Solución</label>
            <select
              class="cli-input-white"
              formControlName="tecnologia">
              <option [value]="0" disabled>-Seleccionar-</option>
              <option [value]="tec.id" *ngFor="let tec of tecnologias">{{ tec.nombre }}</option>
            </select>
          </div>

          <div class="col-sm-3 cli-form-element">
            <label>Naturaleza del Benef.</label>
            <select
              class="cli-input-white"
              formControlName="naturaleza">
              <option [value]="0" disabled>-Seleccionar-</option>
              <option [value]="nat.id" *ngFor="let nat of naturaleza">{{ nat.nombre }}</option>
            </select>
          </div>

          <div class="col-sm-3 cli-form-element">
            <div class="form-group">
                <label>Fecha creación</label>
                <input type="date"
                  readonly="true"
                  formControlName="fechaCrea"
                  class="form-control"
                  [value]="iniciativaEditForm.value.fechaCrea | date:'yyyy-MM-dd'"
                  #fechaCrea
                  (blur)="actualizarFechaCreacion(fechaCrea.value)">
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------CONTEXTO ----------------------------------------->
    <div class="pr-subtitle mt-2">Contexto</div>
    <div class="pr-section">
      <div class="pr-module-container">
        <div class="row g-3">
          <div class="col-sm-3 cli-form-element">
            <label>QTRX mensual</label>
            <input
              type="number"
              min="0"
              class="form-control cli-input-white"
              formControlName="qtrxMes"/>
          </div>

          <div class="form-group col-sm-3 cli-tmoTrx">
            <label>TMO POR TRX</label>
            <div class="row" style="padding: 0px">
              <div class="col-sm-5 cli-form-element" style="padding: 2px 5px;">
              <input
                style="text-align: center;"
                type="number"
                min="0"
                class="form-control cli-input-white"
                formControlName="tmoTrx"/>
              </div>

              <div class="col-sm-7 cli-form-element" style="padding: 2px 5px; margin-left: -8px;">
                  <select class="cli-input-white" style="margin-left: 2px"
                          formControlName="unidadTrx">
                    <option value="Minutos">Minutos</option>
                    <option value="Horas"  >Horas</option>
                  </select>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3">
            <legend class="col-form-label col-sm-12 pt-0">Pedido por PI</legend>
            <div class="row" style="margin-left: 0px">
              <div class="form-check col-sm-6">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gridRadios3"
                  [value]="1"
                  formControlName="pi"/>
                <label class="form-check-label" for="gridRadios3">Si</label>
              </div>

              <div class="form-check col-sm-6">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gridRadios4"
                  [value]="0"
                  formControlName="pi"/>
                <label class="form-check-label" for="gridRadios4">No</label>
              </div>
            </div>
          </div>

          <div class="form-group col-sm-3">
            <legend class="col-form-label col-sm-12 pt-0">Cuenta con flujo contextual</legend>
            <div class="row" style="margin-left: 0px">
              <div class="form-check col-sm-6">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gridRadios3"
                  [value]="1"
                  formControlName="fluContx"/>
                <label class="form-check-label" for="gridRadios3">Si</label>
              </div>

              <div class="form-check col-sm-6">
                <input
                  class="form-check-input"
                  type="radio"
                  id="gridRadios4"
                  [value]="0"
                  formControlName="fluContx"/>
                <label class="form-check-label" for="gridRadios4">No</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------DIAGNOSTICO -------------------------------------->
    <div class="pr-subtitle mt-2">Diagnóstico</div>
    <div class="pr-section">
      <div class="pr-module-container">
        <div class="row was-validated g-3">
          <div class="row mt-2">
            <div class="col-sm-6 cli-form-element mb-2">
              <label>Contexto</label>
              <textarea
                class="form-control"
                style="background-image: none; border-color: #a5a4a4; font-size: 14px;"
                rows="2"
                placeholder="Detalle el contexto y la problemática actual..."
                formControlName="probActual"
              ></textarea>
            </div>

            <div class="col-sm-6 cli-form-element mb-2">
              <label>Función Robotización</label>
              <textarea
                class="form-control"
                style="background-image: none; border-color: #a5a4a4; font-size: 14px; font-size: 14px;"
                rows="2"
                placeholder="Defina la problemática de la función .."
                formControlName="funcRobotiz"
              ></textarea>
            </div>

            <div class="col-sm-6 cli-form-element mb-2">
              <label>Objetivo</label>
              <textarea
                class="form-control"
                style="background-image: none; border-color: #a5a4a4; font-size: 14px;"
                rows="2"
                placeholder="Defina los objetivos y alcances del RPA"
                formControlName="defAlcance">
              </textarea>
            </div>

            <div class="col-sm-6 cli-form-element mb-2">
              <label>Riesgos</label>
              <textarea
                class="form-control"
                style="background-image: none; border-color: #a5a4a4; font-size: 14px;"
                rows="2"
                placeholder="Describa los riesgos de no realizar el RPA"
                formControlName="riesgoNoRpa">
              </textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------HISTORICO CAMBIOS -------------------------------------->
    <div class="pr-subtitle mt-2">Historico de Cambios de Estado</div>
    <div class="pr-section">
      <div class="pr-module-container">
        <div style="overflow: auto; min-height: 150px">
          <table class="cli-table stripedtable underlinedtable">
            <thead>
              <tr class="bgc-green c-white">
                <th>#</th>
                <th>ID Iniciativa</th>
                <th>Estados</th>
                <th>Motivo</th>
                <th>Fecha y Hora de Cambio</th>
                <th>Usuario</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let cambios of historicoCambios; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ cambios.idiniciativa }}</td>
                <td>{{ cambios.estado }}</td>
                <td>{{ cambios.motivo }}</td>
                <td>{{ cambios.fecha_cambio }}</td>
                <td>{{ cambios.usuario }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
    </div>

   <!-- --------------------------------------------BOTONES ------------------------------------------------>
   <div class="cli-form-buttons mb-2">
    <button
      class="cli-btn btn-m btn-grey"
      type="submit"
      data-dismiss="modal"
      (click)="close()"
      ><mat-icon class="icon-18">cancel</mat-icon> Cancelar
    </button>
    <button
      class="cli-btn btn-m btn-blue"
      (click)="actualizarIniciativa()"
    >
      <mat-icon class="icon-18">save</mat-icon> Actualizar
    </button>
  </div>
  </div>
</form>
