<div class="cli-card">
  <div class="homemod">
    <div class="title1">{{ g == "F" ? "Bienvenida" : "Bienvenido" }}</div>
    <div class="textcontent">Esta es la plataforma</div>
    <div class="textcontent">
      de la <span class="mbold"> Web Iniciativa</span>
    </div>
    <div class="uservalidation" *ngIf="loading">
      <mat-spinner diameter="19" style="margin: 0 10px"></mat-spinner> Validando
    </div>
    <div class="uservalidation" *ngIf="!loading">{{ message }}</div>
  </div>
</div>
